<p-dataTable 
  [value]="idols" 
  [frozenValue]="frozenIdols" 
  scrollHeight="200px"
  frozenWidth="200px"
  unfrozenWidth="600px"
>
  <p-headerColumnGroup>
    <p-row>
      <p-column header="名前" rowspan="2"></p-column>
      <p-column header="アイドルID" rowspan="2"></p-column>
      <p-column header="タイプ" rowspan="2"></p-column>
      <p-column header="データ" colspan="3"></p-column>
    </p-row>
    <p-row>
      <p-column header="コスト"></p-column>
      <p-column header="攻撃力"></p-column>
      <p-column header="守備力"></p-column>
    </p-row>
  </p-headerColumnGroup>

  <p-column field="name" [style]="{'width':'250px'}" frozen="true"></p-column>
  <p-column field="id" [style]="{'width':'250px'}"></p-column>
  <p-column field="type" [style]="{'width':'250px'}"></p-column>
  <p-column field="cost" [style]="{'width':'250px'}"></p-column>
  <p-column field="atk" [style]="{'width':'250px'}"></p-column>
  <p-column field="def" [style]="{'width':'250px'}"></p-column>
</p-dataTable>